.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: rgb(var(--header-end-rgb));
  z-index: 1000;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.875rem;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--color-primary-600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  
}

.header a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  transition: all 0.2s ease;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.highlight {
  color: rgb(var(--foreground-rgb));
  font-family: "Fira Code", monospace;
  font-weight: 600;
  letter-spacing: 0.08rem;
  font-size: 1.25rem;
  transition: opacity 0.2s ease;
}

.header a:hover .highlight,
.header a:active .highlight {
  opacity: 0.75;
}

.nav a:hover,
.nav a:active,
.header a:hover,
.header a:active {
  color: rgb(var(--logo-rgb));
  opacity: 65%;
}

@media (min-width: 768px) {
  .header {
    padding: .6rem 10%;
  }
}

.active {
  color: rgb(var(--logo-rgb));
  opacity: 55%;
}

.active span {
  color: rgb(var(--logo-rgb));
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link a:hover,
.link a:active {
  color: rgb(177, 177, 177);
  text-shadow: 0 0 18px var(--color-grey-200);
}