
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 2rem auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0 0 6px rgba(var(--foreground-rgb));
  border: .5px solid rgb(177, 177, 177);
  border-radius: 8px;
  
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 auto; 
  
}

.post h1 {
  font-family: "Fira Code", monospace;
  letter-spacing: 0.15rem;
}

.post hr {
  display: block;
  height: 0;
  border: none;
  border-top: 6px dotted rgb(177, 177, 177);
  width: 35%;
  margin: 2rem auto 0 auto; /* Ensure consistent spacing at the top of each hr */
  text-align: center;
  position: relative;
}

.post a {
  color: var(--text);
  list-style: none;
}

.post h1 {
  margin: .5rem;

}


.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;

  margin: 0 auto;
}


.content {
  padding: 1rem;
  font-size: 0.75rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.post h1:hover,
.post h1:active,
.container:hover,
.content p:hover,
.content p:active {
  opacity: 65%;
}


@media (max-width: 480px) {
  .container {
    padding: 0 1rem; /* Adjust padding to prevent content from touching the screen edges */
  }

  .post {
    max-width: 100%; /* Allow the post to take full width */
    margin-left: auto; /* Ensure it stays centered */
    margin-right: auto; /* Ensure it stays centered */
  }

  .post img {
    width: 100%;
  }
}