.header {
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  overflow: hidden;
  background-color: var(--item-background);
  box-shadow: 0 0 3px rgba(var(--box-shadow-rgba));
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.header img {
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem 0;
  letter-spacing: 0.1rem;
}

.info p {
  margin: 0;
  font-size: 0.75rem;
  color: rgb(177, 177, 177);
}

.info a:hover,
.info a:active {
  color: rgb(177, 177, 177);
  opacity: 65%;
}

.title {
  font-family: "Press Start 2P", system-ui;
}

.description {
  font-size: 0.75rem;
  padding: 1rem;
}

.description ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.description li {
  text-transform: uppercase;
}

.description h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.5rem;
}

.description h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0.5rem;
}

.description h4 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem;
}

.description p {
  margin: 0.5rem;
  font-size: 0.75rem;
}

.description a {
  background: var(--color-primary-600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.15rem;
  text-decoration: none;
}

.description a:hover,
.description a:active,
.description a.active {
  opacity: 50%;
}

.description em,
.description i {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.description hr {
  border: dotted var(--color-grey-500) 0.25rem;
  border-bottom: none;
  width: 75%;
  margin: 1rem auto;
}

/* tablet+ */
@media (min-width: 480px) {
  .header {
    max-width: 30rem;
    border-radius: 4px;
    margin: 1rem auto;
  }
}

